models/
textures/
.gradle/
.settings/
bin/
blender_project/
modelsafe/
.idea
eclipse
gradle
build
gradlew*
MinecraftForge*
*fml*


# minecraft

saves
resourcepacks
mods
config
crash-reports
logs
screenshots